/*------reset------*/
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i,b{font-style:normal;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#363636;}
a:hover{text-decoration:none;}
img{display:block;border:0;border-radius:2px 2px 2px 2px;}
button,input,select,textarea{font-size:100%;outline:none;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
td,th,ul,ol{padding:0;}
cite{font-style:normal;}
/*------common------*/
.pr{position:relative}
.pa{position:absolute}
.fl{float:left}
.fr{float:right}
.clearfix{zoom:1}
.clearfix:after{content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both}
.none{display:none}
.ht{overflow:hidden;text-indent:-9999px;text-decoration:none}
.fb{font-weight:bold}
.fn{font-weight:normal}
.f12{font-size:12px}
.f16{font-size:16px}
.f22{font-size:22px}
.tc{text-align:center}
.tr{text-align:right}
